body {
    height: 100%;
    background-color: #FFFFF0;
    color: rgb(230,0,141);
    font-family:'Verdana';
}

canvas {
	height: 500px;
	display: block;
    margin: 0 auto;
	margin-top:0px;
	top: 0;
	left: 0;
}

div.container {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

nav {
	display: block;
    margin: 0 auto;
}

ul#nav {
    font-family:'Verdana';
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;

}
ul#nav li {
	float: center;
	display: inline;
}

ul#nav li a:link {
	display: inline-block;
	width: 350px;
	height: 20px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: gray;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

ul#nav li a:visited {
	color: #ffffff;
}

ul#nav li a:hover, nav ul li a:active {
    background-color: #404040;
    color: rgb(230,0,141);
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: left;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
    font-family:'Verdana';
}

.resume li {
	float: left;
}

div.resume a:link, a:visited {
	display: block;
	text-decoration: none;
	color: gray;
}

div.about img {
	padding-right: 50px;
	padding-bottom: 30px;
}

footer {
    background: gray;
    font-size: .8em;
    width: 100%;

    position: fixed;
    bottom: 0;
    display: block;
    margin: 0 auto;
}

ul#footer {
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #FFC2E0;
    text-align: center;
    overflow: hidden;
}

ul#footer li {
	display: inline;
}

ul#footer li a:link, footer ul li a:visited {
	display: inline-block;
	background-color: gray;
	width: 120px;
	height: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
